
/* -------------------About me Section---------------- */

.about_me {
    padding: 130px 0;
    background-color: #fff;
}
.about_me_essence {
}
.about_me_title {
    text-align: center;
}
.essence {
    margin: 136px 0 130px;
    justify-content: space-between;
}
.mission {
    max-width: 669px;
    width: 100%;
}
.mission p {
    line-height: 24px;
}
.mission_title {
    position: relative;
    margin: 0 0 49px 15px;

}
.line:after {
    position: absolute;
    background-color: #2D63EB;
    content: "";
    height: 2px;
    width: 114px;
    left: -14px;
    bottom: 0;
}
.mission p:not(:last-child) {
    margin-bottom: 30px;
}
.mission_essence_more{
}
.special {
    color: #2D63EB;
    position: relative;
}
.special:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 1px;
    background-color: #2D63EB;
}
.history {
}
.history_title {
    position: relative;
    margin: 0 0 45px 15px;
}
.history_details {
}
.details_item {
    display: flex;
    align-items: center;
}
.details_item:not(:last-child) {
    margin-bottom: 20px;
}
.icon {
    margin-right: 31px;
}
.details_list {
}
.details_item_title {
}
.details_item_info {
    color: rgba(47, 56, 59, 0.48);
    line-height: 18px;
    margin-top: 8px;
}
.because {
    text-align: center;
}
.because_title {
    margin-bottom: 52px;
}
.because_list {
    max-width: 695px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.because_item {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
}
.because_item_numb {
    border: 1px solid #FFA200;
    border-radius: 50px;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #FFA200;
    margin: 0 auto 23px;
}
.because_item p {
    max-width: 206px;
    width: 100%;
}
.because_item_numb:hover {
    color: #fff;
    background-color: #FFA200;
    cursor: pointer;
}