
/* -----------------Author Header--------------- */

.header {
    background-color: #1148D3;
    padding: 59px 0 237px;
    position: relative;
}
.author {
    max-width: 590px;
    width: 100%;
    color: #fff;
    margin: 0 auto;
    text-align: center;
}
.my_name {
    font-family: 'Lifehack';
    font-weight: 700;
    font-style: normal;
    font-size: 27px;
    line-height: 43px;
}
.author_title {
    margin: 135px 0 73px;
}
.connect {
    border: 1px solid #fff;
}
.author i {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 44px;
}
