
/* ---------------------Need Me Section------------------- */

.need_me {
  padding: 130px 0;
  background-color: #E6E9F1;
}
.need_me_essence{
  max-width: 417px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.need_me_title {

}
.need_me_essence p {
  font-size: 14px;
  line-height: 17px;
  margin: 50px 0;
}
.connect_more {
  background-color: #2D63EB;
}